body{
  margin:0;
  padding: 0;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  background-position: center;
  background-color: rgba(0,0,05 rgba(0,0,04));
  display:flex;
  justify-content: center;
  text-align:center;
  align-items: center;
}

.card{
  width:80%;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 5px 14px rgba(245,240,245,1);
-moz-box-shadow: 1px 1px 5px 14px rgba(245,240,245,1);
box-shadow: 1px 1px 5px 14px rgba(245,240,245,1);

  border:1px solid white;
  padding:5px;
  border-radius: 10px;
  height:300px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  text-align:center;
  align-items: center;
  -webkit-box-shadow: 1px 1px 5px 14px rgba(245,240,245,1);
  -moz-box-shadow: 1px 1px 5px 14px rgba(245,240,245,1);
  box-shadow: 1px 1px 5px 14px rgba(245,240,245,1);


}
h1{
  font-family: monospace;
  color:white;
}
